<div id="livecamWrap">
    <div class="livecamContainer">
        <div id="livecamTitle">Live cams</div>
        <div id="sheepTitle">Sheep</div>
        <div id="sheepCams">
        <iframe
            src="https://www.youtube.com/embed/K8TbCP3yeS4?si=SsrqP2flzAGSi3ZH&autoplay=1"
            frameborder="0"
            allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
        <iframe
            src="https://www.youtube.com/embed/cm4c8zk_io8?si=GVSpM2ea3QTtxPNr&autoplay=1"
            frameborder="0"
            allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
        <iframe
            src="https://www.youtube.com/embed/K8TbCP3yeS4?si=SsrqP2flzAGSi3ZH?autoplay=1"
            frameborder="0"
            allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
        </div>

        <div id="birdTitle">Birds</div>
        <div id="birdCams">
            <iframe
                src="https://www.youtube.com/embed/YBsM-20iKZI?si=3rPAhzsh7VH-8e25&autoplay=1"
                frameborder="0"
                allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <iframe
                src="https://www.youtube.com/embed/TAhHaHsDTkk?si=HMFnaHiCPa-3cpg3&autoplay=1"
                frameborder="0"
                allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <iframe
                src="https://www.youtube.com/embed/ZPSRPo-3KGI?si=RTEhBWqIQoIk2LZr&autoplay=1"
                frameborder="0"
                allow="accelerometer; autoplay = 1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
