<div id="dashboardWrapper">
  <div id="dashboard-container">
    <h2>Dashboard</h2>
    <div id="sheepInfo">
      <div id="infoBox">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
        sed diam nonumy eirmod tempor<br>
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
        At vero eos et accusam et justo duo<br>
        dolores et ea rebum. Stet clita kasd gubergren, <br>
        no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
      </div>

      <img id="sheep" src="assets/sheep-image.jpg" alt="Picture of a sheep"/>
    </div>
  </div>
</div>
