#outerWrapper{
  display: flex;
  justify-content: center;
}

#sheepWrap{
  height: 100vh;
}

.sheep-container{
  margin-top: 1.6rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: var(--content-bg-color);
  padding: 2rem;
  font-size: 1.1rem;
  box-shadow: 4px 6px 14px #bebebe;
  align-self: center;
}

hr
{
  background-color: #000;
  width: 30rem;
  height: 2px;
  border: 0;
  outline: 0;
  margin-top: 5rem;
}

.sheep-header{
  font-weight: bold;
  font-size: 1.7rem;
}

.sheep-summary{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 1.5rem;
  width: 100%;
}

.sheep-summary-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
sheepList-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

span
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}

.sheep-summary img{
  width: 200px;
  height: auto;
  margin-left: 5rem;
  margin-top: 3rem;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 2px solid var(--secondary-color);
  display: block;
}

.sheep-footer a{
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.4s ease;
}

.sheep-footer a:hover{
  color: var(--secondary-color-hover);
}

