<div id="outerWrapper">
  <div id="sheepWrap">
    <div class="sheep-container">
      <div class="sheep-header">
        Sheep
      </div>
      <app-vote-button></app-vote-button>
      <div class="sheep-summary">
        <div class="sheep-summary-item">
          <div class="sheepList-container">
            <label>List of sheep:</label>
          </div>
          <span>
            ich bin Elias, das neugierige Schaf, wurde auf einer idyllischen Farm in den grünen Hügeln geboren.
            Von klein auf zeigte ich eine ungewöhnliche Vorliebe für das Erkunden meiner Umgebung.
            ich liebe es am Tag mehrmals zu essen.
            <img src="./../../assets/sheepone.jpg" alt="sheepOne">
          </span>
          <span>
            Beschreibung3
            <img src="./../../assets/sheeptwo.jpg" alt="sheeptwo">
          </span>
        </div>
      </div>
      <hr>
      <div class="sheep-footer">
        <a href="https://de.wikipedia.org/wiki/Schafe" target="_blank">Learn more</a>
      </div>
    </div>
  </div>
</div>
