@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

:root{
  --main-color: #d5d5d5;
  --content-bg-color: rgba(206, 206, 206, 0.6);
  --header-color: #0c5460;
  --secondary-color: #007f7d;
  --highlight-color: #007876;
  --secondary-color-hover: #009b99;
  --secondary-color-hover-brighter: #00b5b3;
}


body{
  position: relative;
  display: block;
  border: none;
  margin: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  background: rgb(0,127,125);
  background: linear-gradient(0deg, rgba(0,127,125,0.7707457983193278) 3%, rgba(200,200,200,0.9332107843137255) 60%);
}

.hidden{
  display: none !important;
  visibility: hidden;
}

.disabled{
  pointer-events: none;
  cursor: default;
  background-color: grey !important;
}

.unclickable{
  pointer-events: none;
  cursor: default;
}
