@font-face {
  font-family: "Poppins";
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

:root{
  --main-color: #d5d5d5;
  --element-bg-color: #d1d1d1;
  --content-bg-color: rgba(206, 206, 206, 0.6);
  --header-color: #0c5460;
  --secondary-color: #007f7d;
  --highlight-color: #007876;
  --secondary-color-hover: #009b99;
  --secondary-color-hover-brighter: #00b5b3;
}

body{
  position: relative;
  display: block;
  border: none;
  margin: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  background: rgb(200,200,200);
  background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(0,181,179,1) 61%, rgba(0,127,125,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hidden{
  display: none !important;
  visibility: hidden;
}

.disabled{
  pointer-events: none;
  cursor: default;
  background-color: grey !important;
}

.unclickable{
  pointer-events: none;
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
  background: rgb(200,200,200);
  background: linear-gradient(180deg, rgba(200,200,200,1) 0%, rgba(0,181,179,1) 61%, rgba(0,127,125,1) 100%);
  background-repeat: no-repeat;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  margin-block: 10px;
  background: #b3b3b3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color-hover);
  border-radius: 20px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008684;
}
