<div id="outerWrapper">
<div id="animalWrap">
  <div class="animal-container">
    <div class="animal-header">
      {{ animalData.animalName }}
    </div>
    <hr>
    <div class="animal-summary">
      <div class="animal-summary-items">
        <div class="animal-summary-item">
          <label>Binomial name:</label>
          <label>{{ animalData.binomialName }} </label>
        </div>
        <div class="animal-summary-item">
          <label>Class:</label>
          <label>{{ animalData.class }} </label>
        </div>
        <div class="animal-summary-item">
          <label>Family:</label>
          <label>{{ animalData.family }} </label>
        </div>
        <div class="animal-summary-item">
          <label>Size:</label>
          <label>{{ animalData.size }} cm</label>
        </div>
        <div class="animal-summary-item">
          <label>Lifespan:</label>
          <label>{{ animalData.lifespan }} </label>
        </div>
        <div class="animal-summary-item">
          <label>Diet:</label>
          <label>{{ animalData.diet }} </label>
        </div>
        <div class="animal-summary-item">
          <label>Estimated park population:</label>
          <label>{{ animalData.population }} </label>
        </div>
      </div>
      <img id="animal-image" src="{{ animalData.picture }}" alt="animal">
    </div>
    <div class="animal-content">
      <div class="animal-description">
        {{ animalData.animalDescription }}
      </div>
    </div>
    <hr>
    <div class="animal-footer">
      <a href="https://en.wikipedia.org/wiki/Corvus" target="_blank">Learn more</a>
    </div>
  </div>
</div>
</div>
