<div id="outerWrapper">
<div id="animalWrap">
  <div class="animal-container">
    <div class="animal-header">
      %animal_name% {{id}}
    </div>
    <hr>
    <div class="animal-summary">
      <div class="animal-summary-items">
        <div class="animal-summary-item">
          <label>Binomial name:</label>
          <label>%binomial_name%</label>
        </div>
        <div class="animal-summary-item">
          <label>Class:</label>
          <label>%class%</label>
        </div>
        <div class="animal-summary-item">
          <label>Family:</label>
          <label>%family%</label>
        </div>
        <div class="animal-summary-item">
          <label>Size:</label>
          <label>%size%</label>
        </div>
        <div class="animal-summary-item">
          <label>Lifespan:</label>
          <label>%lifespan%</label>
        </div>
        <div class="animal-summary-item">
          <label>Diet:</label>
          <label>%diet%</label>
        </div>
        <div class="animal-summary-item">
          <label>Estimated park population:</label>
          <label>%population%</label>
        </div>
      </div>
      <img src="./../../assets/raven.jpg" alt="animal">
    </div>
    <div class="animal-content">
      <div class="animal-description">
        %animal_description%
      </div>
    </div>
    <hr>
    <div class="animal-footer">
      <a href="https://en.wikipedia.org/wiki/Corvus" target="_blank">Learn more</a>
    </div>
  </div>
</div>
</div>
