.navbar{
  height: 94%;
  width: 12rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 0 0.7rem;
  margin: 1.4rem 0 1.4rem 1.2rem;
  border-radius: 12px;
  position: fixed;
  box-shadow: 4px 6px 12px #005454;
}

.navbar-header{
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 1.5px solid #000;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.navbar-header a{
  text-decoration: none;
  color: #000;
}

.navbar-item{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
  justify-content: center;
  border-radius: 12px;
  padding: 0.6rem 0 0.6rem 1rem;
  transition: all 0.4s ease;
  margin-top: 0.5rem;
  background-color: var(--highlight-color);
}

.navbar-item:hover{
  background-color: var(--secondary-color-hover);
}

.navbar-item-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.navbar-item-header img{
  width: 37px;
  height: 37px;
}

.navbar-item-header .sheep-img{
  width: 39px;
  height: 39px;
}

.navbar-item-header label{
  margin-left: -0.2rem;
  cursor: pointer;
}

.navbar-item-links{
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
  font-size: 1rem;
}

.navbar-item-links a{
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
  padding: 0.15rem 0.3rem;
  border-radius: 12px;
}

.navbar-item-links a:hover{
  background-color: var(--secondary-color-hover-brighter);
}

.current-page{
  background-color: var(--secondary-color-hover-brighter);
}

.navbar-item-live-cams{
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 0.3rem 0 0.3rem 0.5rem;
}

.navbar-item-live-cams a{
  text-decoration: none;
  color: #000;
}

.navbar-item-live-cams i{
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-footer{
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-top: 1.5px solid #000;
  width: 12rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
